* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: #ffcc00;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 20px;
    background-color: #cc0000;
    border-radius: 5px;
}

a:hover {
    background-color: #990000; 
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #006600;
    color: white;
    padding: 20px;
}

main {
    max-width: 800px;
    margin: 0 auto;
    background-color: white;
    color: black;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
    color: #cc0000;
    border-bottom: 3px solid #ffcc00;
    padding-bottom: 10px;
}

h2 {
    color: #006600;
    margin-top: 20px;
    margin-bottom: 10px;
}

h3 {
    color: #cc0000;
    margin-bottom: 5px;
}

p {
    margin-bottom: 10px;
    line-height: 1.6;
}

ul {
    margin-left: 20px;
    list-style-type: square; 
}

img {
    max-width: 100%;
    border: 5px solid #ffcc00; 
    border-radius: 5px;
    margin-top: 10px;
}

a {
    color: #ffcc00; 
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #cc0000; 
}

#cr7link {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
}
